<md-dialog class="dialog" aria-label="Settings">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Settings</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="column"></div>
        <div ng-repeat="(groupNumber, group) in userGradebooks | groupBy: 'number'">
            <span class="md-headline">{{groupNumber}}</span>
            <md-divider></md-divider>
            <div ng-repeat="semester in group | groupBy: 'semesterId'">
                <span class="md-title">{{semester[0].academicYear}} {{semester[0].name}}</span>
                <md-list-item ng-repeat="gradebook in semester | orderBy: 'subject'">
                    <p>{{gradebook.subject}}</p>
                    <md-checkbox class="md-secondary" ng-model="selection[gradebook.gradebookId]" 
                                 ng-init="selection[gradebook.gradebookId]=true"></md-checkbox>
                </md-list-item>
            </div>          
        </div>

    </md-dialog-content>
    <div class="md-actions" layout="row">            
        <div flex></div>
        <md-button ng-click="hide(selection)" class="md-primary">
            Confirm
        </md-button>
        <md-button ng-click="cancel()" class="md-primary">
            Close
        </md-button>      
    </div>   
</md-dialog>
