<div id="mark1" class="modal narrow">
    <div class="modal-content">
        <h5>Sam Smith</h5>
        <h6>Group | Subject</h6>
        <div class="section">
            <h6>Task Title and maximum mark value [100]</h6> 
        </div>

        <div class="input-field">
            <input id="mark-value" type="number" class="validate" min="0" max="100" required="">
            <label for="mark-value">Mark</label>
        </div> 
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Dismiss</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
    </div>
</div>