<div id="attendance-modal" class="modal narrow">
    <div class="modal-content">
        <h5>Albert Einstein</h5>
        <h6>Group | Subject</h6>
        <div class="section">
            <a href="#"><i class="material-icons green-accent">check_box</i></a>
            <a href="#"><i class="material-icons yellow-accent">indeterminate_check_box</i></a>
            <a href="#"><i class="material-icons red-accent">indeterminate_check_box</i></a>
        </div> 
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Dismiss</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit</a>
    </div>
</div>