<div class="main-frame" flex>
    <h1 class="md-headline">Faculties</h1>
    <table class="table admin">
        <thead>
            <tr class="header-primary admin">
                <th class="table-num-col">Id</th>
                <th>Name</th>                                                                     
                <th colspan="2">Controls</th>                     
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="faculty in faculties">
                <td class="table-num-col">{{faculty.facultyId}}</td>
                <td>{{faculty.name}}</td>
                <td class="controls-col">
                    <md-button class="control" ng-click="showEditFacultyForm($event, faculty)">
                        <md-icon>edit</md-icon>
                        <span>Edit</span>
                    </md-button>
                </td>
                <td class="controls-col">
                    <md-button class="control" ng-click="showDeleteFacultyDialog($event, faculty)">
                        <md-icon>delete</md-icon>
                        <span>Delete</span>
                    </md-button>
                    
                </td>
            </tr>
            <tr>
                <td class="table-num-col"></td>
                <td></td>
                <td colspan="2" class="controls-col">
                    <md-button class="control" ng-click="showAddFacultyForm($event)">
                        <md-icon>add_circle</md-icon>
                        <span>Add</span>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-include src="'views/partitials/footer.html'"></ng-include>