<md-content>
    <table class="table">
        <thead>
            <tr class="header-primary">
                <th class="table-num-col">#</th>
                <th class="table-name-col">Name</th>                                                                     
                <th ng-repeat="task in groupGrades| groupBy: 'taskId'" ng-click="showTaskDetails($event, task[0].taskId)">
                    <a>
                        Task {{($index + 1)}} | {{task[0].title}}
                    </a>
                </th>
                <th class="add" ng-hide="isHidden">
        <md-button class="md-icon-button" ng-click="showAddTaskForm($event)">
            <md-icon class="add-button">add_circle_outline</md-icon>            
        </md-button>
        </th>                               
        </tr>
        <tr class="header-secondary">
            <th class="table-num-col"></th>
            <th class="table-name-col"></th>
            <th ng-repeat="task in groupGrades| groupBy: 'taskId'">{{calcTaskDates(task[0].startDate, task[0].taskLength)}}</th>
            <th ng-hide="isHidden"></th>         
        </tr>
        </thead>

        <tbody>
            <tr ng-repeat="student in groupGrades| groupBy: 'studentId' | toArray: true | orderBy: orderByName">
                <td class="table-num-col">{{($index + 1)}}</td>
                <td class="table-name-col">{{student[0].firstName}} {{student[0].lastName}}</td>
                <td ng-repeat="task in student">
        <md-button class="grade" ng-click="showEditGradeDialog($event, task)" ng-disabled="isDisabled">
            {{task.grade}} <span class="max-grade">[{{task.maxGrade}}]</span>
        </md-button>
        </td>
        <td ng-hide="isHidden"></td>
        </tr>
        </tbody>
    </table>
</md-content>