<md-content>
    <table class="table-tasks">
        <thead>
            <tr class="header-primary">
                <th class="table-num-col">#</th>
                <th class="table-name-col">Name</th>                                                                     
                <th ng-repeat="(key, value) in groupGrades | groupBy: 'taskId'">
                    <a ng-click="showTaskDetails($event, this)">
                        Task {{($index + 1)}} | {{value[0].title}}
                    </a>
                </th>
                <th class="add">
        <md-button class="md-icon-button" ng-click="showAddTaskForm($event)">
            <md-icon class="add-button">add_circle_outline</md-icon>            
        </md-button>
        </th>                               
        </tr>
        <tr class="header-secondary">
            <th class="table-num-col"></th>
            <th class="table-name-col"></th>
            <th ng-repeat="(key, value) in groupGrades | groupBy: 'taskId'">{{calcTaskDates(value[0].startDate, value[0].taskLength)}}</th>
            <th></th>         
        </tr>
        </thead>

        <tbody>
            <tr ng-repeat="(key, value) in groupGrades | groupBy: 'studentId'">
                <td class="table-num-col">{{($index + 1)}}</td>
                <td class="table-name-col">{{value[0].firstName}} {{value[0].lastName}}</td>
                <td ng-repeat="task in value">
                    <md-button class="grade" ng-click="">
                        {{task.grade}} <span class="max-grade">[{{task.maxGrade}}]</span>
                    </md-button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</md-content>