<md-content>
    <div style="margin-bottom: 1px"  layout="row">
        <table class="table attendance">
            <thead>
                <tr class="header-primary">
                    <th class="table-num-col">#</th>
                    <th class="table-name-col">Name</th>                                                                     

                </tr>
                <tr class="header-secondary">
                    <th class="table-num-col"></th>
                    <th class="table-name-col"></th>                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in groupAttendance| groupBy: 'studentId' |  toArray: true | orderBy: orderByName">
                    <td class="table-num-col">{{($index + 1)}}</td>
                    <td class="table-name-col">{{student[0].firstName}} {{student[0].lastName}}</td>            
                </tr>
            </tbody>
        </table>

        <table class="table attendance" ng-repeat="task in groupAttendance| groupBy: 'taskId'">
            <caption class="header-primary" ng-click="showTaskDetails($event, task[0].taskId)">                                                                                    
                <a>Task {{($index + 1)}} | {{task[0].title}}</a>
            </caption>
            <thead>
                <tr class="header-secondary">
                    <th ng-repeat="date in task| unique: 'classDate'"> 
                        {{getDayOfWeek(date.classDate)}}<br>
                        {{formatClassDate(date.classDate)}}
                    </th>                    
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="student in task | groupBy: 'studentId' | toArray: true | orderBy: orderByName">
                    <td ng-repeat="attendance in student">
            <md-button class="attendance-button" ng-click="showEditAttendanceDialog($event, attendance)">
                <md-icon ng-class="{'green-700': present, 'red-700': absent, 'yellow-700': absentWithReason}">
                    {{attendanceStatus(this)}}
                </md-icon>               
            </md-button>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</md-content>