<div class="main-frame" layout="column" layout-align="start center" flex>
    
    <div class="video-row">
        <div class="videoWrapper">   
            <iframe src="https://www.youtube.com/embed/Qd_O_RUQZRs" frameborder="0" allowfullscreen></iframe> 
        </div> 
    </div> 
    <div class="links-row" layout="row" layout-align="center">
        <a href="https://github.com/reBirthLab/gradebook"><img height="36" width="36" src="images/GitHub-Mark-64px.png" alt></a>
        <a href="https://ua.linkedin.com/in/anastasiytovstik"><img height="36" width="42" src="images/In-Black-66px-R.png" alt></a>
    </div>
</div>

<ng-include src="'views/partitials/footer.html'"></ng-include>