<div class="main-frame" layout="column" flex>
    <!--
    <div>
        <div class="videoWrapper">   
            <iframe src="https://www.youtube.com/embed/ENXvZ9YRjbo" frameborder="0" allowfullscreen></iframe> 
        </div> 
    </div>-->
    <div class="links-row" layout="row" layout-align="center" style="margin-bottom: 0">
        <img width="960" height="600" src="images/Gradebook-Screencast-Slide-01.png" alt>
    </div>
    <div class="links-row" layout="row" layout-align="center">
        <a href="https://github.com/reBirthLab/gradebook"><img height="36" width="36" src="images/GitHub-Mark-64px.png" alt></a>
        <a href="https://ua.linkedin.com/in/anastasiytovstik"><img height="36" width="42" src="images/In-Black-66px-R.png" alt></a>
    </div>
</div>

<ng-include src="'views/partitials/footer.html'"></ng-include>