<div class="main-frame" flex>
 
    <h1 class="md-headline admin-table-title">Lecturers</h1>    
    <table class="table admin">
        <caption>
            <div class="filters-header" layout="row" layout-align="start center">
                <div ng-click="toggleFilters()"  layout="row" layout-align="start center">
                    <md-icon>filter_list</md-icon>
                    <p class="md-body-2">Filters</p>
                </div>
                <div flex></div>
                <p class="md-body-2">Danger Zone!</p>
                <md-switch ng-model="isDeletionEnabled" aria-label="Deletion Switch" ng-change="onChange(isDeletionEnabled)" class="md-warn">
                    Deletion is {{status}}
                </md-switch>
            </div>
            <div class="filters" ng-show="isExpanded">
                <div layout="row" layout-padding>
                    <md-input-container class="number-filter" flex>
                        <label>By Id</label>
                        <input type="text" ng-model="search.lecturerId">
                    </md-input-container>
                    <md-input-container class="text-filter" flex>
                        <label>By Faculty</label>
                        <input type="text" ng-model="search.departmentId.facultyId.name">
                    </md-input-container>
                    <md-input-container class="text-filter" flex>
                        <label>By Department</label>
                        <input type="text" ng-model="search.departmentId.name">
                    </md-input-container>
                    <md-input-container class="text-filter" flex>
                        <label>By First Name</label>
                        <input type="text" ng-model="search.firstName">
                    </md-input-container>  
                    <md-input-container class="text-filter" flex>
                        <label>By Last Name</label>
                        <input type="text" ng-model="search.lastName">
                    </md-input-container>  
                    <md-input-container class="text-filter" flex>
                        <label>By Email</label>
                        <input type="text" ng-model="search.email">
                    </md-input-container>                               
                </div>
            </div>
        </caption>      
        <thead>         
            <tr class="header-primary admin">
                <th class="table-num-col">Id</th>
                <th>Faculty</th>                                                                     
                <th>Department</th>                                                                     
                <th>First Name</th>                                                                     
                <th>Last Name</th>                                                                     
                <th>Email</th>                                                                     
                <th colspan="2">Controls</th>                     
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="lecturer in lecturers | filter: search">
                <td class="table-num-col">{{lecturer.id}}</td>
                <td>{{lecturer.departmentId.facultyId.name}}</td>
                <td>{{lecturer.departmentId.name}}</td>
                <td>{{lecturer.firstName}}</td>
                <td>{{lecturer.lastName}}</td>
                <td>{{lecturer.email}}</td>
                <td class="controls-col">
                    <md-button class="control" ng-click="showEditLecturerForm($event, lecturer)">
                        <md-icon>edit</md-icon>
                        <span>Edit</span>
                    </md-button>
                </td>
                <td class="controls-col">
                    <md-button class="control" ng-click="showDeleteLecturerDialog($event, lecturer)" 
                               ng-disabled="!isDeletionEnabled">
                        <md-icon>delete</md-icon>
                        <span>Delete</span>
                    </md-button>                  
                </td>
            </tr>
            <tr>
                <td class="table-num-col"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2" class="controls-col">
                    <md-button class="control" ng-click="showAddLecturerForm($event)">
                        <md-icon>add_circle</md-icon>
                        <span>Add</span>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-include src="'views/partitials/footer.html'"></ng-include>