<md-dialog class="dialog narrow" aria-label="Group">
    <form name="groupForm" ng-submit="submit()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{mode}} Group</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column">
                <md-input-container>
                    <md-select name="faculty" ng-model="group.facultyId" placeholder="Faculty" required>
                        <md-option ng-value="faculty" 
                                   ng-repeat="faculty in faculties"
                                   selected="{{ faculty.name === group.facultyId.name ? 'selected' : '' }}">
                            {{faculty.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="groupForm.faculty.$error" ng-if="groupForm.$submitted">
                        <div ng-message="required">Faculty is required.</div>                        
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Group Number</label>
                    <input name="number" md-maxlength="45" required type="text" ng-model="group.number">
                    <div ng-messages="groupForm.number.$error" ng-if="groupForm.$submitted">
                        <div ng-message="required">Group number is required.</div>
                        <div ng-message="md-maxlength">Group number has to be less than 45 characters long.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="column">
            <md-progress-linear flex ng-if="dataLoading || facultiesLoading" class="md-accent" 
                                md-mode="indeterminate"></md-progress-linear>
            <div layout="row" layout-align="end">
                <md-button type="submit" class="md-primary">
                    {{submitButton}}
                </md-button>
                <md-button type="button" ng-click="cancel()" class="md-primary">
                    Cancel
                </md-button>
            </div>     
        </div>   
    </form>
</md-dialog>