<md-dialog class="dialog narrow" aria-label="Grade">
    <form name="gradeForm" ng-submit="update()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Update Grade</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column">
                <div class="details-row">
                    <p class="md-body-2">Student name</p>
                    <h1 class="md-headline">{{task.firstName}} {{task.lastName}}</h1>
                </div>
                <div class="details-row">
                    <p class="md-body-2">Task title</p>
                    <h3 class="md-title">{{task.title}}</h3>
                </div>
                <md-input-container>
                    <label>Grade</label>
                    <input name="grade" required type="number" ng-model="studentGrade.grade" min="0" max="{{task.maxGrade}}">
                    <div ng-messages="gradeForm.grade.$error" ng-if="gradeForm.$submitted">
                            <div ng-message="min">Value must be greater than or equal to 0.</div> 
                            <div ng-message="max">Value must be less than or equal to {{task.maxGrade}}.</div> 
                        </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="column">
            <md-progress-linear flex ng-if="dataLoading" class="md-accent" md-mode="indeterminate"></md-progress-linear>
            <div layout="row" layout-align="end">
                <md-button type="submit" class="md-primary">
                    Update
                </md-button>
                <md-button type="button" ng-click="cancel()" class="md-primary">
                    Cancel
                </md-button>
            </div>     
        </div>   
    </form>
</md-dialog>